*.bak
build_info.properties
.classpath
dependency-reduced-pom.xml
*.diff
.DS_Store
.idea/
*.iml
*.jar
.project
.settings/
.tags*
target/
tmp*
test-output/
nohup*
*.log
*.swp
*.pyc
script/__pycache__/
